.aui-message.updatenoitifier-confluence{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
}

.contenteditor  .updatenoitifier-confluence{
    display: none;
}